button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none !important;
  border: none;
}
label {
  display: block;
  margin-bottom: 10px;
}
.formContainer {
  width: 500px;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.formHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
  border-bottom: 2px solid #e0e0e0;
  margin-bottom: 24px;
}

.formTitle {
  font-size: 1rem;

  color: #556471;
}

.closeButton {
  color: #939ea6;
  border: none;
  background-color: #f5f7f9;
  cursor: pointer;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10%;
  transition: background-color 0.3s;
}

.selectContainer {
  margin-bottom: 1em;
}
div span {
  display: none;
}

.aboveFooter {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin-block: 20px;
  padding-bottom: 5em;
}
.checkboxContainer {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.trackingContainer {
  display: flex;
  gap: 5px;
  align-items: center;
  color: #a6bef2;
  font-size: 14px;
}
.actionButtons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 1em;
  box-shadow: 0 -4px 6px -4px rgba(0, 0, 0, 0.1);
  padding-top: 15px;
}
.checkboxContainer .checkboxInput[type="checkbox"] {
  accent-color: #205cdf;
  cursor: pointer;
  margin-inline-end: 5px;
}
